#main-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.add-reddit-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}